<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>风味烧烤-退出</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- bootstrap-css -->
<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<!--// bootstrap-css -->
<!-- css -->
<link rel="stylesheet" href="css/style.css" type="text/css" media="all" />
<!--// css -->
<!-- font-awesome icons -->
<link href="css/font-awesome.css" rel="stylesheet"> 
<!-- //font-awesome icons -->
<script src="js/jquery-1.11.1.min.js"></script>
<script src="js/bootstrap.js"></script>
<script src="js/SmoothScroll.min.js"></script>
</head>
<body>
	<div class="bg-img">
		<!-- banner -->
		<div class="banner code-banner">
			<div class="container">
				<div class="header">
					<div class="logo">
						<h1><a href="/">风味烧烤</a></h1>
					</div>
					<div class="user-info">
						<p></p>
					</div>
					<div class="clearfix"> </div>
					<div class="top-nav">
						<nav class="navbar navbar-default">
								<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">Menu						
								</button>
							<!-- Collect the nav links, forms, and other content for toggling -->
							<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
								<ul class="nav navbar-nav">
									<li><a href="/">首页</a></li>
									<li><a href="/menu">点餐</a></li>
									<li><a href="/login">登录</a></li>
									<div class="clearfix"> </div>
								</ul>	
							</div>	
						</nav>		
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
		</div>
		<!-- //banner -->
	</div>
	<!-- single -->
	<div class="blog">
		<!-- container -->
		<div class="container">
			<div class="contact-heading">
				<h2>成功退出</h2>
			</div>
			<div class="order-grids">
				<a href="/"><button type="button" class="btn btn-lg btn-warning">返回首页</button></a>
			</div>
		</div>
		<!-- //container -->
	</div>
	<!-- //single -->
	<!-- copyright -->
	<div class="copyright">
		<div class="container">
			<div class="agileinfo">
				<p>Copyright &copy; 2016 LiaoYiji. All rights reserved.</p>
			</div>
		</div>
	</div>
	<!-- //copyright -->
</body>	
</html>